@charset "utf-8";
/* CSS Document */
body {
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 3px;
    height:3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #094670; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #094670; 
  }
.g-sidenav-pinned .sidenav {
    max-width: 100% !important;
    position: absolute;
    height: 110px;
    overflow: visible;
    border: none;
    width: 100%;
    display: inline-block;
}
.navbar {
	background:transparent !important;
}
.navbar-nav {
    display: block;
	margin: 0px 0;
}
.nav_main .navbar-nav > .nav-item {
    float: left;
    display: inline-block;
	width: 70px;
    text-align: center;
}
.g-sidenav-pinned .sidenav.fixed-left + .main-content {
    margin-left: 0 !important;
	margin-top: 110px;
}
.sidenav-header {
    margin-top: 3px;
    margin-right: 0px;
	float:left;
}
.pro_mnu .nav-link {
    padding: .675rem 0.5rem;
    justify-content: center;
}

.sidenav .scroll-wrapper > .scroll-content {
    overflow: visible !important;
}
.sidenav .scroll-wrapper {
    overflow: visible !important;   
}
.nav_main .navbar-collapse {
    display: block;
}
.nav_main .navbar-nav {
    min-width: 170px;
    display: block;
    float: left;
    margin-top: -4px;
}
.pro_mnu, .notificatn 
{
	 float: right !important; 
}
.pro_mnu .nav-item
{
     width:65px !important;
     padding: 19px 0 !important;
}
ul.navbar-nav.pro_mnu
{
    min-width: 170px;
    display: block;
    float: left;
    flex-direction: column;   
}
.pro_mnu .nav-link {
    display: flex;
    align-items: center;
    padding: .675rem 0.5rem;
    justify-content: center;
}
.primary_mnu .nav-link > i {
    font-size: 18px !important;
}
.pro_mnu .dropdown-menu, .notificatn .dropdown-menu{
    position: absolute;
    float: none;
}
.cph .title
{
	margin-bottom: 20px;
	font-family: inherit;
    font-weight: 400;
    color: inherit;
    font-size: 1.25rem;
    line-height: calc(2.4375rem + 2px);
    min-height: calc(2.4375rem + 2px);
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 30px;
    padding-top: 25px;
    padding-right: 5px;
    color: #8d9ba9;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.cph .display-4 {
    font-size: 30px;
    padding-left: 0px;
    padding-top: 35px;
    font-weight: 400;
    color: #094670;
}
.mrt4{
    margin-right: 40px;
	border: none !important;
}
.stats-today .stats-today-item-value {
    font-size: 2rem;
    line-height: 2rem;
    color: #b0bac3;
}
.stats-today .stats-today-item {
    padding: 0 1.5rem;
    text-align: left;
    border-right: 1px solid #dee2e6;
}
.nav_main
{
   box-shadow:none !important;	
}
.stats-today-item-label {
    font-size: 12px;
}
.cus_dashboard {
    padding: 0 30px;
}
.cus_dashboard .card-header {
    margin-bottom: 0px;
    background-color: #094670;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    border: solid 1px #e9ecef;
    border-top: 0px;
}
h6.card-header.font-weight-medium.border-bottom-0 {
    font-size: 15px;
	color: #fff
}
.cnav .drop_dwn
{
	padding-left:0;
}
.cnav .drop_dwn li
{
	list-style:none;
}
.nav_main .navbar-brand-img, .nav_main .navbar-brand > img {
    max-width: 100%;
    max-height: 75px;
    margin-top: -25px;
    margin-left: 8px;
}
.navbar-icon {
    font-size: 20px;
    line-height: 1.5rem;
    min-width: 2rem;
}

.bg-gradient-default {
    background: #094670 !important;
}
.navbar-nav .dropdown-toggle::after {
    display: none;
}
.cnav .primNav .dropdown-menu {
    min-width: 17rem;
}
.cnav .nav-link > i {
    font-size: 18px !important;
}
.tooltip { 
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;

  }
  #sidenav-main .tooltip { 
   display: none !important;
  }
  .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
  }
  #sidenav-main .navbar-nav .nav-link
  {
      display: block;
  }
  #sidenav-main span.navbar-label {
    float: left;
    width: 100%;
    color: #c3d1e6;
    font-size: 11px;
    margin-top: 5px;
    z-index: 1;
    position: relative;
}
  .nav_main .text-white {
    color: #d0dceb !important;
}
#sidenav-main .m-main > li:hover
{
   background: #0e5282;
}
#sidenav-main  .pro_mnu .dropdown-menu {
    position: relative;
    float: none;
    z-index: 99;
    top: 0px;
    left: auto !important;
    right: 73px !important;
}
#sidenav-main  .m-main .dropdown-menu {
    position: relative;
    float: none;
    z-index: 99;
    top: 19px;
}
#sidenav-main .navbar-nav .nav-item
{
    transition: 0.3s;
    padding: 19px 0;
}
.dashboard-top-card .h2{
    font-size: 15px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
.badge-info {
    color: rgb(255, 255, 255);
    background-color: rgb(44, 141, 138);
}
a {
    color: rgb(36, 91, 141);
    background-color: transparent;
    text-decoration: none;
}
.cus_dashboard .table thead th {
    font-size: 11px;
}
/*** catergories **/
.dasbdr_wrapper .section-header .cus_title {
    font-family: inherit;
    font-weight: 400;
    color: inherit;
    font-size: 1.25rem;
    line-height: calc(2.4375rem + 2px);
    min-height: calc(2.4375rem + 2px);
    vertical-align: middle;
    overflow: hidden;   
    padding-left: 0;
    padding-right: 5px;
    color: #8d9ba9;
}
.dasbdr_wrapper .section-header .cus_title a {
    font-family: inherit;
    font-weight: 300;
    color: inherit;
    font-size: 12px;
}
.dasbdr_wrapper .cph {
    padding: 0 25px;
    min-height: 100vh;
}
.dasbdr_wrapper .cus_dashboard {
    padding: 0 0px;
}
.dasbdr_wrapper .section-header.row {
    padding:15px;
}

.ctl-label:hover>.hint {
    opacity: 1;
}



/*** common**/
.btn-primary {
    color: #fff;
    border-color: #094670;
    background-color: #094670;
}
.btn-secondary {
    color: #212529;
    border-color: #eff1f3;
    background-color: #eff1f3;
}
.ctl-label>.hint {
    cursor: default;   
    text-decoration: none;
    outline: 0;
    color: #8d9ba9;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    opacity: 0;
    text-align: center;
	margin-left: 5px;
}
.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active, .show>.btn-outline-secondary.dropdown-toggle, .btn-outline-light:not([disabled]):not(.disabled):active, .btn-outline-light:not([disabled]):not(.disabled).active, .show>.btn-outline-light.dropdown-toggle {
    background-color: #e0e4e9;
    border-color: #bfc7cf;
}
.btn:not(:disabled):not(.disabled):active, .t-button:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active, .t-button:not(:disabled):not(.disabled).active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.btn-sm, .btn-group-sm>.btn, .btn-group-sm>.t-button, .t-grid tbody .t-button, .t-grid .t-filter-options .t-button {
    padding: .375rem .75rem;
    font-size: .8125rem;
    line-height: 1.5;
    border-radius: 2px;
}
.btn-outline-secondary {
    color: #393f46;
}
.btn-outline-secondary, .btn-outline-light {
    color: #393f46;
    border-color: #ced4da;
}
.btn:hover {
    transform: none;
    box-shadow:none;
}


/*** table catrgory **/
.dasbdr_wrapper .cus_dashboard .table thead th {
    font-size: 12px;
    font-weight: 700;
	color: #3b3b3b;
}
.cus_tbl thead {
    color: #393f46;
    background-color: #f6f8fa;
    border-color: #dee2e6;
}
.icon-active-true {
    color: #009e74;
    text-shadow: 0 -1px 0 #fff;
}
.icon-active-false {
    color: #ced4da;
    text-shadow: 0 -1px 0 #fff;
}
.badge-secondary {
    background-color: #8d9ba9;
    color: #fff;
}
.badge:not(.badge-pill) {
    border-radius: .2rem;
}
.dasbdr_wrapper .card .table td, .dasbdr_wrapper .card .table th {
    padding-right: 5px;
    padding-left: 15px;
}
.t-status-text {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: .8125rem;
	background-color: transparent;
	text-shadow: none !important;
	vertical-align: middle !important;
	color: #8d9ba9;
	margin: 0;
}
.tbl-highlight {
    background: #f9fafa;
    padding: 0px 15px;
    border: 1px solid #e9ecef;
    margin-bottom: 0px;
}
.dasbdr_wrapper .pagination {
   margin-bottom:0
}
.dasbdr_wrapper .table thead th {
    padding-top: 18px;
    padding-bottom: 18px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #094670;
    border-left: 1px solid #e9ecef;
	border-right: 1px solid #e9ecef;
    background-color: #ffffff;
    box-shadow: none;
	width: 22px;
    color: #094670;
}
.page-item .page-link {
    z-index: 3;
    color: #094670;
    border-left: 1px solid #e9ecef;
	border-right: 1px solid #e9ecef;
    background-color: #ffffff;
    box-shadow: none;
	width: 18px;
    color: #094670;
}
.section-header .btn-outline-secondary:hover {
    color: #212529;
    border-color: #bfc7cf;
    background-color: #f7fafc;
}
.page-item .page-link, .page-item span { 
    border-radius: 0% !important;
    background: transparent;
    border: none;
}
li.page-item.reld {
    border-right: 1px solid #e9ecef;
    padding-right: 10px;
}
i.sel_dwn {
    position: absolute;
    top: 30px;
    right: 16px;
    background: #f8f9fa;
    padding: 15px 15px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
	pointer-events: none;
	border-left: 1px solid #dee2e6;
}

/**** manage products***/

.p_srch {
    color: #212529;
    border-color: #ced4da;
    background-color: #eff1f3;
    box-shadow: none;
}
.lst_btn
{
	margin-left:.5rem;
}
.btn {
    box-shadow: none;
}
.mtp{
    margin-top: -3px;
}
.zoomable-thumb-container {
    width: 50px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.zoomable-thumb-container>img {
    max-height: 100%;
    max-width: 100%;
}
.tbl_outer .table td, .tbl_outer .table th {
    white-space: normal;
}
.table thead th {
    vertical-align: middle;
}
.cus_tbl .table th, .cus_tbl .table td {
    padding: 1rem;
    vertical-align: inherit;
}
.cus_tbl input[type='radio'], .cus_tbl input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
    margin-top: 4px;
}

/*** bulk edit ***/
.dasbdr_wrapper i.fas.fa-info {
     position: absolute;
    left: -2px;
    top: 0px;
    font-size: 21px;
    padding: 0px 23px 0px;
    background: #307abe;
    height: 100%;
    display: flex;
    color: #fff;
    align-items: center;
}
.dasbdr_wrapper .alert-info {
    color: #094670;
    border:none;
    background-color: #d6e4f2;
    padding-left: 62px;
}
.grid-save-changes {
    padding: 13px 15px;
    float: left;
	border-right: 1px solid #e9ecef;
}
.t-grid-top-btns  {
    background: #f9fafa;
    border: 1px solid #e9ecef;
    margin-bottom: -1px;
}
.grid-cancel-changes
{
    padding: 13px 15px;
    float: left;	
}	
.grid-save-changes:hover {
    background-color: #f6980e;
    color: #fff;
}
.grid-cancel-changes:hover
{
    background-color: #dc3000;
    color: #fff;
}
.ctl-label label {
    font-weight: 600;
    color: #094670;
}	
.cus_tbl .t-grid-delete {
	opacity:0;
    color: #fff;
    background-color: #a92500;
    border-color: #9c2200;
	padding: .375rem .75rem;
    font-size: .8125rem;
	min-width: 92px;
	border-radius: 2px;
	text-decoration:none;
}
.cus_tbl tr:hover .t-grid-delete {
	opacity:1;
}

/**** add new ***/

.add_new_wraper .tabs-left>.nav-aside>.nav-tabs-line .nav-item {
    margin: 0;
    margin-right: -1px;
}
.add_new_wraper .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.add_new_wraper .nav-tabs-line .nav-item {
    position: relative;
	margin: 0;
    margin-right: -1px;
}
.add_new_wraper .nav-aside>.nav-tabs-line .nav-link {
    text-align: left;
    border: 1px solid transparent;
    border-left-width: 2px;
    -webkit-transition: none;
    transition: none;
    padding: 0.625rem 1.25rem;
    padding-right: 1.25rem;
    font-size: inherit;
}
.add_new_wraper .tabs-left .nav-tabs .nav-link {
    border-radius: .25rem 0 0 .25rem;
}
.add_new_wraper .nav-link {
    color: inherit;
    text-transform: none;
    font-weight: 600;
    font-size: 0.9375rem;
    text-align: center;
    position: relative;
    border-width: 0;
    background-color: transparent;
    padding: 0.825rem 1rem;
    -webkit-transition: color 0.05s ease-in-out, background-color 0.05s ease-in-out;
    transition: color 0.05s ease-in-out, background-color 0.05s ease-in-out;
}
.add_new_wraper .nav-aside>.nav-tabs-line .nav-link>i {
    margin-right: 0.75rem;
    margin-left: -0.5rem;
}
.add_new_wraper .nav .nav-link>i {
    vertical-align: baseline;
    font-size: inherit;
    margin-right: 0.5rem;
    color: #596167;
}
.add_new_wraper .nav-aside>.nav-tabs-line .nav-link.active {
    border-top-color: #e1e4e8;
    border-bottom-color: #e1e4e8;
    border-left-color: #f7a833;
}
.add_new_wraper .nav-tabs-line .nav-link.active {
    color: #22262a;
}
.add_new_wraper .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.add_new_wraper .nav-link {
    border-radius: .25rem 0 0 .25rem;
}
.add_new_wraper .nav-aside>.nav-tabs-line {
    border-bottom: none;
    border-right: 1px solid #e1e4e8;
}
.add_new_wraper .tab-content {
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.125);
    margin-bottom: 1rem;
    padding-top:20px
}
.add_new_wraper .nav-tabs-line .nav-link.active {
    color: #22262a;
}
.add_new_wraper .add_new_tbl {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    border-collapse: initial;
}
.add_new_wraper select, .add_new_wraper input[type=text], .add_new_wraper input[type=number] {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: .625rem .75rem;
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}
.focused .input-group-text { border-color: #dee2e6;}
.form-group.ctl-label {
    margin-bottom: 0;
}
.add_new_wraper textarea {
    display: block;
    width: 100%;
	height:auto;	
    min-height: 80px;
    padding: .5625rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #596167;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}
.add_new_tbl .ctl-label label
{
    font-size: inherit;
    line-height: 1.5;
    padding-top: calc(.5625rem + 1px);
    padding-bottom: calc(.5625rem + 1px);
    margin-bottom: 0;
}
.add_new_tbl tbody {
	width:100%;
	float:left;
}
.add_new_tbl tbody tr {
	width:100%;
	float:left;
	position: relative;
}
.add_new_tbl tbody td, .add_new_tbl tbody th {
	width:50%;
	float:left;
	margin-bottom: 15px;
}
.ctl-label {
    position: relative;
    padding-right: 2.5rem;
    display: inline-block;
}
.add_new_wraper .ctl-label label {
    font-size: inherit;
    line-height: 1.5;
    padding-top: calc(.5625rem + 1px);
    padding-bottom: calc(.5625rem + 1px);
    margin-bottom: 0;
}
.add_new_wraper .tab-content
{
	padding-right:20px;
}
.add_new_wraper td.adminTitle {
    text-align: right;
}
.add_new_wraper .sel_dwn-add_new
{
    position: absolute;
    top: 2px;
    right: 2px;
    background: #f8f9fa;
    padding: 14px 15px 13px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    pointer-events: none;
	border-left: 1px solid #dee2e6;
}
tr.brek {
    border-bottom: 1px solid #dfdfdf;
    margin: 30px 0 40px;
}
.dasbdr_wrapper .dropdown-toggle::after {
    display: inline-block !important;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    vertical-align: 0.175em;
}
.bg_gry {
    background-color: #f6f8fa;
}
.text-muted, .muted {
    color: #8d9ba9 !important;
}
.fltrIn_btn {
    color: #fff;
    background-color: #f7a833;
    border-color: #f7a833;
    -webkit-box-shadow: inset 0 0 0 rgba(255,255,255,0.15), 0 0 0 rgba(0,0,0,0.075);
    box-shadow: inset 0 0 0 rgba(255,255,255,0.15), 0 0 0 rgba(0,0,0,0.075);
}


.flipswitch {
  position: relative;
  width: 66px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
  margin-top: 8px;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #FFFFFF;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -moz-transition: margin 0.3s ease-in 0s;
  -ms-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "ON";
  padding-left: 12px;
  background-color: #256799;
  color: #FFFFFF;
}
.flipswitch-inner:after {
  content: "OFF";
  padding-right: 12px;
  background-color: #EBEBEB;
  color: #888888;
  text-align: right;
}
.flipswitch-switch {
  width: 19px;
  margin: 2.5px;
  background: #FFFFFF;
  border: 0px solid #FFFFFF;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 41px;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}


/**** add new horizotal tab***/


.new_horizon_tab_outer .tabs-left>.nav-aside>.nav-tabs-line .nav-item {
    margin: 0;
    margin-right: -1px;
}
.new_horizon_tab_outer .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.new_horizon_tab_outer .nav-tabs-line .nav-item {
    position: relative;
    margin: 0;
    margin-bottom: -1px;
    margin-left: 0px;
    border-radius: 0;
}
.new_horizon_tab_outer .nav-aside>.nav-tabs-line .nav-link {
    text-align: left;
    border: 1px solid transparent;
    border-left-width: 2px;
    -webkit-transition: none;
    transition: none;
    padding: 0.625rem 1.25rem;
    padding-right: 1.25rem;
    font-size: inherit;
}
.new_horizon_tab_outer .tabs-left .nav-tabs .nav-link {
    border-radius: .25rem 0 0 .25rem;
}
.new_horizon_tab_outer .nav-link {
    color: inherit;
    text-transform: none;
    font-weight: 600;
    font-size: 0.9375rem;
    text-align: center;
    position: relative;
    border-width: 0;
    background-color: transparent;
    padding: 0.825rem 1rem;
    -webkit-transition: color 0.05s ease-in-out, background-color 0.05s ease-in-out;
    transition: color 0.05s ease-in-out, background-color 0.05s ease-in-out;
}
.new_horizon_tab_outer .nav-aside>.nav-tabs-line .nav-link>i {
    margin-right: 0.75rem;
    margin-left: -0.5rem;
}
.new_horizon_tab_outer .nav .nav-link>i {
    vertical-align: baseline;
    font-size: inherit;
    margin-right: 0.5rem;
    color: #596167;
}
.new_horizon_tab_outer .nav-aside>.nav-tabs-line .nav-link.active {
    border-bottom: 2px solid #f7a833;
    margin-bottom: 0px;
    background: transparent;
    border-left-width: 0;
    border-right-width: 0;
}
.new_horizon_tab_outer .nav-tabs-line .nav-link.active {
    color: #22262a;
}
.new_horizon_tab_outer .nav-aside>.nav-tabs-line 
{
    border-bottom: 1px solid #dfdfdf;
    padding-top: 20px;
}

.new_horizon_tab_outer .tab-content {
    background-color: #fff;
    margin-bottom: 1rem;
    padding-top:20px
}
.new_horizon_tab_outer .nav-tabs-line .nav-link.active {
    color: #22262a;
}
.new_horizon_tab_outer .add_new_tbl {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    border-collapse: initial;
}
.new_horizon_tab_outer select, .new_horizon_tab_outer input[type=text], .new_horizon_tab_outer input[type=number] {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 5px);
    padding: .625rem .75rem;
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}
.new_horizon_tab_outer textarea {
    display: block;
    width: 100%;
	height:auto;	
    min-height: 80px;
    padding: .5625rem 1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #596167;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}
.add_new_tbl tbody {
	width:100%;
	float:left;
}
.add_new_tbl tbody tr {
	width:100%;
	float:left;
	position: relative;
}
.add_new_tbl tbody td, .add_new_tbl tbody th {
	width:50%;
	float:left;
	margin-bottom: 15px;
}
.ctl-label {
    position: relative;
    padding-right: 2.5rem;
    display: inline-block;
}
.new_horizon_tab_outer .ctl-label label {
    font-size: inherit;
    margin-bottom: .5rem;
}
.new_horizon_tab_outer .tab-content
{
    padding-right:20px;
    padding-left:20px;
}
.new_horizon_tab_outer td.adminTitle {
    text-align: right;
}
.new_horizon_tab_outer .sel_dwn-add_new
{
    position: absolute;
    top: 2px;
    right: 2px;
    background: #f8f9fa;
    padding: 14px 15px 13px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    pointer-events: none;
	border-left: 1px solid #dee2e6;
}

/** low stock**/

.t-button {
    color: #393f46;
    background-color: #eff1f3;
    border-color: #eff1f3;
    -webkit-box-shadow: inset 0 0 0 rgba(255,255,255,0.15), 0 0 0 rgba(0,0,0,0.075);
    box-shadow: inset 0 0 0 rgba(255,255,255,0.15), 0 0 0 rgba(0,0,0,0.075);
    padding: .375rem .75rem;
    font-size: .8125rem;
    min-width: 92px;
    line-height: 1.5;
    border-radius: 2px;
    margin: 0 .2em;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}
.t-button:hover
{
    color: #393f46;
    border: 1px solid #e9ecef;
}

.hovr-t-button
{
    opacity: 0;
}
.cus_tbl tr:hover .hovr-t-button {
    opacity: 1;
}



/***Customer reports****/

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
}
.spinner {
    width: 40px;
    height: 40px;   
    position: absolute;
    top: 48%;
    left: 48%;
   
}
.m-main .dropdown-menu li:first-child {
    margin-top: -15px;
    float: left;
    position: relative;
    width: 100%;
}
/**** mobile menu***/
.closebtn, .open_btn
{
    display: none;
}
@media (max-width: 1199.98px){
    .sidenav {
        transform: translateX(0px);
    }
}

@media screen and (max-width: 768px) {
    .closebtn, .open_btn
    {
        display: block;
    }
    .sidenav_mob {
        height: 100%;
        width: 100px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -100px;
        background-color: #094670;
        overflow: hidden;
        transition: 0.5s;
        padding-top: 30px;
        text-align:center;
      }
      
      .sidenav_mob a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      
      }
      
      .sidenav_mob  a:hover{
        color: #f1f1f1;
      }
      
      .sidenav_mob  .closebtn {
        position: absolute;
        top: -11px;
        right: 31px;
        font-size: 36px;
        margin-left: 50px;
        color: #989898;
      }
      .pro_mnu .nav-link {
        margin-left: 63px;
    }
      .nav_main .navbar-nav {
        width: 100%;
        min-width: 100%;
        display: block;
        float: left;
        margin: 0;
        background: #094670;
    }
    .pro_mnu .nav-item {
        width: 100% !important;
        padding: 0px 0 !important;
    }
    #sidenav-main .pro_mnu .dropdown-menu {
        position: absolute;
        left: 85px !important;
        right: auto;
    }
    .nav_main .navbar-nav > .nav-item {     
        width: 100% !important;
    }
    #sidenav-main .navbar-nav .nav-item {
        transition: 0.3s;
        padding: 0px 0;
    }
      /*****/
      .g-sidenav-pinned .sidenav {
        max-width: 100% !important;
        position: fixed;
        height: 100%;
        overflow: visible;
        border: none;
    }
   .open_btn {
        font-size: 30px;
        cursor: pointer;
        float: right;
        z-index: 999999;
        position: absolute;
        right: 29px;
        top: 21px;
        border: 1px solid #9c9c9c;
        color: #fff;
        border-radius: 5px;
        padding: 10px 7px;
        line-height: 18px;
    }
    .nav_main .navbar-collapse {
        padding-right: 0;
    }
    .dropdown-menu.show {
    margin-left: 20px !important;
    } 
    .nav_main {
        left: 0px;
        height: 100%;
        position: relative;
        transition: none;
        top: 0;
    }
    
  }
